@import "./_variables.css";

.item {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
}

.item .sub_a {
    width: 100%;
    height: 100px;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.item .sub_a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: grayscale(85%) blur(3px);
    transition: all 0.5s;
}

.item .sub_a > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
}

.item .sub_a:hover > img {
    transition: all 0.5s;
    filter: grayscale(50%);
}
